@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 2vw 0 7vw 0;
    background-color: rgb(240, 240, 240);
    margin-bottom: 3vw;
    .pricing__head{
        font-size: 2vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: center;
    }
    .pricing__sub{
        padding-bottom: 2vw;
        padding-top: 1vw;
        font-family: 'Montserrat', sans-serif;
        color: rgb(49, 49, 245);
        font-size: 1vw;
    }
    .pricing__main__content{
        display: flex;
        width: 75vw;
        justify-content: space-between;
        .pricing__main{
            display: flex;
            background-color: #ffffff;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
            border-radius: 1vw;
            padding: 0.5vw 0.5vw 1vw 0.5vw;
            margin: .5vw;
            .pricing__content{
                margin: 0 2vw;
                padding: 1vw 0;
                .pricing__content__course{
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.7vw;
                    color: rgb(82, 81, 81);
                    padding-bottom: 2vw;
                }
                .pricing__content__price{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2.5vw;
                    font-weight: bold;
                    text-align: center;
                    padding: 0.5vw 0 0.2vw 0;
                }
                .pricing__content__body{
                    margin-top: 2vw;
                    padding: 0;
                    .content__tick{
                        margin: 0.5vw 0;
                        display: flex;
                        align-items: center;
                        font-family: 'Montserrat', sans-serif;
                        font-size: .8vw;
                        font-weight: 500;
                        .icon{
                            margin-right: .2vw;
                            padding: .1vw;
                            color: rgb(49, 49, 245);
                        }
                    }
                }
                .pricing__content__button{
                    text-align: center;
                    .btn{
                        background-color: #3131f5;
                        text-transform: none;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        padding: 0.7vw 1.2vw;
                        border-radius: 5px;
                        width: 85%;
                        margin-top: 2vw;
                        margin-bottom: 0;
                        font-size: 1vw;
                    }
                }
            }
        }
}
}